.container {
 
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
   height: 100%;
    width: 100%;
   font-weight: bold;
    background: gray;

}
.titulo{
    font-size: 30px;
    margin-bottom: 20px;
 text-decoration: underline;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.refe{
  color: yellow;
}
.inpu {
    display: flex;
    border: 1px solid black;
    text-align: center;
  flex-direction: column;
}